<style contenteditable class="editme">
p {
	color: red;
  color: blue;
}
</style>
<div class="row">
  <div class="small-12 small-spacer-top">
    <p>Play with the css styles above to see how this text color changes. You can add other styles to see what fun things you can do to this content.</p>
    <p>Don't worry, you won't mess up anything. None of your changes will be saved. If you want to start over just refresh the page.</p>
    <p>Have fun experimenting with CSS!</p>
  </div>
</div>
