<div class="row">
	<div class="big-spacer-top">
		<h2>A Little About Me and Why I Decided to Start This Training Series</h2>
	</div>
</div>

<div class="row">
	<%= image_tag "a-little-about-me.jpg" %>
</div>

<div class="row">
	<div class="small-spacer-top medium-spacer-bottom">
		<p>Imagine with me for a second.  You have created a website.  Or maybe you’ve hired someone to create a website for you.  You put your heart and soul into making it the best it could possibly be.  Now it is live, it is “done”, and it is <em>not</em> what you envisioned. Not completely.  Maybe not even at all.  In fact, you realize that even though your website is “done” there’s a lot of other things you see you would like to change or fix or improve. </p>

		<p>Maybe you haven’t had an experience like this.  I hope you haven’t.  But, I have.  Actually, I have quite a few like this.  In 2008 I hired a company and paid them almost $20,000 to create a website for me.  Granted it was complex and the programming involved wasn’t simple.  At least that’s what I thought back in 2008.  Now that I know how to program I realize it really wasn’t that hard.  But, that’s beside the point.  The point is, I paid quite a bit of money for a website that at the end of the day was terrible.  I couldn’t even use it.  I had to scrap it and start all over.  I had put my heart and soul and hard earned money into making it the best it could be.  And I failed.  I was crushed.</p>

		<p>So, who’s fault was it?  For a while I thought it was the company I hired.  I guess it was just easier or felt better to blame someone else.  But, since I’ve had some time to think about it I realize that although they had a role in this failure.  I was ultimately the reason it failed.</p>

		<p>This might not have been so bad if this was the only experience trying to make an amazing website but failing.  It’s still painful for me to acknowledge that a year later I improved in some ways but made a lot of the same mistakes again.  I hired another company.  I paid them a lot of money.  I made something better but still not good enough.  Something that still wasn’t what I envisioned.</p>

		<p>I wish I could say that these two experiences have taught me what I needed to know to make great websites.  But, they didn’t.  I made a lot of the same mistakes over and over.  I am sure I am still making some of those same mistakes I made back in 2008.  But, I can tell you with certainty that I’m not making very many of them any more.  I’ve learned a lot.</p>

		<p><em><strong>One of the best things I did was to keep making mistakes.</strong></em> I didn’t give up.  And because I didn’t I have gotten better.  A lot better.</p>

		<p><em><strong>The second best thing I did was to learn to make websites on my own.</strong></em> This allowed me to continue to make mistakes but those mistakes weren’t going to cost me tens of thousands of dollars.  And what I found was that my mistakes became less and less with each week that passed and especially with each project.</p>

		<p><em><strong>I didn’t allow fear to stop me.</strong></em>  I was afraid to fail.  But I didn’t let that fear stop me.  In the process I learned and embraced a beautiful truth.</p> 

		<blockquote>Taking action, despite the fear and vulnerability you may feel, will expand your limits and multiply your opportunities</blockquote>  

		<p>No one is good at anything the first time they do it. You just have to do it and don’t let fear stop you.</p>

		<p>I still don’t know everything about making incredible websites.  But, I know a whole lot more than I did in 2008.  And the more clients I have and the more projects I begin I realize I know quite a bit about websites and how to make them <em>incredible</em>.  I’m not talking about just making a <em>nice</em> website - a lot of people can do that.  I’m not talking about average.  I’m talking about <em>remarkable</em>.  I’m talking about how to make your website a <%= link_to "purple cow", "http://www.sethgodin.com/purple/", class: "pink-link-center" %>, as Seth Godin would say. </p>

		<p>I want you to avoid the huge mistakes I’ve made.  Sure, you might stumble and make your own mistakes.  And that’s good if you learn from them. But, most importantly I want to see you succeed.  I’m going to do all I can to see that you do. </p>

		<p>That’s the whole purpose of this blog or collection of resources or whatever you want to call it.  That’s why I’m going to post something every week that I wish the 2008 version of myself had known.  Something I know you will need to know in order to make incredible websites.  I would love <%= link_to "your help", new_feedback_path, class: 'pink-link-center' %>.  It should only take you one minute. </p>

		<p>If you and I met up and you could ask me anything about making incredible websites.  What would you want to know?  <%= link_to "What would you want me to show you?", new_feedback_path, class: "pink-link-center" %></p>

		<p>Thank you so much for any feedback you can offer at any point!  I will openly and honestly listen to everything that is suggested.  Thank you so much for taking a minute out of your day to tell me what you want to learn.</p>

		<p>In the next post we’ll cover what is probably <em>the single most important</em> thing about making incredible websites.</p>

	</div>
</div>