<div id="about">
	<!-- Picture of My Family -->
	<div class="about-header">
	</div>

	<!-- Bio -->
	<div class="row" id="introduction">
		<div class="medium-spacer-top">
			<h1 class="text-center">Hi, I'm Lauralee Flores</h1>
		</div>
		<h2>I'm a Wife, Mother, Online Entrepreneur, and Web Developer.</h2>
	</div>

	<!-- Intro Text - Am I offering what you're intersted in? -->
	<div class="row">
		<div class="small-12 columns">
			<p>I love the internet. I get really excited about the opportunities it offers. I'm helping people take advantage of these opportunities.</p>
			<p>Have you wanted to:</p>
			<div id="unordered-list">
				<ul>
					<li>Make amazing websites.</li>
					<li>Make your website easy to use.</li>
					<li>Get more people interested in what you hav to offer online.</li>
					<li>Make your website more effective - helping you get more sales, more sign ups, or more leads.</li>
				</ul>
			</div>
			<p>If so, you're in the <em>right</em> place!</p>
		</div>
	</div>

	<!-- I can help you, and here's what you must do. -->
	<div class="row">
		<h4 class="text-center">
			Here's How I Can Help You Make Your Websites Amazing.
		</h4>
		<div class="small-12 columns">
			<%= image_tag "about-one-step.jpg" %>
		</div>
		<div class="small-12 columns">
			<p>First, you must realize that making an amazing website is not easy.  But, if you're willing to stick with me I guarantee you can do it and your users will love you for it.</p>
			<p>You must be willing to take a user-centered approach.  This isn't as easy as it sounds.  It's a philosophy and approach that is different than how most people create websites.  But, that's why you and your websites will stand out.</p>
			<p>The only other requirement is a willingness to take a step.</p>
			<div class="small-10 medium-6 small-centered medium-centered columns">
				<%= link_to "Take Your First Step", new_user_registration_path, class: "button expand" %>
			</div>
		</div>
	</div>

	<!-- Introducing What You'll Learn -->
	<div class="row">
		<h4 class="text-center">
			What You'll Learn
		</h4>
		<div class="small-12 columns">
			<p><span class="bold"><em>User-Centered Approach</em></span> - The core and foundation of creating amazing websites is this approach. It's more than an approach though, it's a philosphy and belief system. It's a way of thinking and paradigm. Embracing this one aspect will completely change (for the better!) the quality of websites you make.</p>
			<p><span class="bold"><em>Ruby on Rails</em></span> - In order to create amazing websites you need to know the technical side of things.  I will teach you to code.  I love this part.  I will cover the Ruby programming language, Ruby on Rails, HTML, CSS and all these fun topics that are essential to creating websites.</p>
			<p><span class="bold"><em>Beautiful and Minimal Design</em></span> - Design is arguably one of the most important aspects of a website. If you want your website to be amazing you cannot overlook this aspect, whether you want to be a designer or not. You really have two good options, hire a great designer or learn how to make great design. The good news is design is a skill that you can learn whether you consider yourself "creative" or not.</p>
			<p><span class="bold"><em>Persuasive Architecture</em></span> - If you were creating a building you would plan out and think through the flow of people visiting your building and how they would get from one room to another.  You would probably also consider if there's a specific place you want them to go and what kind of impression you want to make. Amazing websites require the same type of architecture.</p>
			
			<div class="small-10 medium-6 small-centered medium-centered columns">
				<%= link_to "Get free Training Today", new_user_registration_path, class: "button expand" %>
			</div>
		</div>
	</div>

	<!-- Map -->
	<div class="contact-header">
		<div class="row">
			<h4 class="text-center">
				About Lauralee Flores
			</h4>
			<div class="world">
				<div class="big-spacer-top">
					<h1 class="world text-center">I call Tucson, Arizona Home</h1>
				</div>
				<div class="medium-spacer-top">
					<h2 class="world">But I work All Around the World</h2>
				</div>
			</div>
		</div>
	</div>

	<!-- Bio -->
	<div class="row">
		<div class="small-12 columns">
			<p>I've been working on websites in a professional setting since 2006.  I have a masters degree in applied psychology with an emphasis in human-computer interaction which basically means I understand the psychology behind how to make a website awesome. I have hired, trained, and managed a team of usability and web analytic professionals. I was the lead web analyst for the University of Idaho.</p>

			<p>I have developed and taught university courses on topics such as human-computer interaction, principles of usability, introduction to psychology, cognitive development, and others. I began learning HTML and CSS in college and in 2012 I jumped into learning Ruby on Rails. I learned in order to create a business idea and I had no idea I would love it so much.</p>

			<p>Most of my time is spent as an entrepreneur creating web applictions in Ruby on Rails.</p>

			<div class="small-10 medium-6 small-centered medium-centered columns">
				<%= link_to "Sign Up For Free", new_user_registration_path, class: "button expand" %>
			</div>
		</div>
	</div>
</div>

	