<div id="comingsoon-intro">
	<div class="row">
		<div class="small-spacer">
			<h1 class="text-center upper">Thank you</h1>
			<h1 class="text-center">for taking this journey with me!</h1>
		</div>
	</div>
</div>

<div class="row">
	<p>Here's what you'll get.</p>
	<p>If we were sitting together at the computer, what would you want to me to show you?  What would you want to learn about?</p>
</div>