.row
  .small-12.big-spacer-top.centered
    h1 Thank you for confirming your subscription.
    p You are awesome! You'll receive the first of my design tips and resources shortly. In the meantime if I can help you with any specific design question or problem you're facing please let me know. 
