.row
  .small-12.big-spacer-top.centered
    h1 style="font-weight:200;font-size:3rem;line-height:1;margin-bottom:1.5rem;margin-top:2rem;" Thank you for confirming your subscription.
    p You are awesome! You'll receive the first of my CSS tips shortly. In the meantime if I can help you with any specific CSS questions you can email me any time at lauralee@lauraleeflores.com.
