.row
  .small-8.big-spacer-top.centered
    h1 style="font-weight:200;font-size:3rem;line-height:1;margin-bottom:1.5rem;margin-top:2rem;" Thank you for confirming your email.
    p You are awesome! Be on the lookout for an email from me very soon. In the meantime if you have any questions you can email me any time at lauralee@lauraleeflores.com.
