<div class="big-spacer">
	<div class="row text-center">
		<h1>What You Get By Signing Up</h1>
		<div class="small-spacer">
			<div class="small-12 medium-6 columns">
				<div class="what-you-get">
					<%= image_tag("free-resources.png") %>
				</div>
				<p>Every web project will need access to certain resources, such as high-quality images, usability test templates, excellent designs, and so on.  Your free resources will all be saved in your account so you can access them any time.</p>
			</div>
			<div class="small-12 medium-6 offset-1 columns">
				<div class="what-you-get">
					<%= image_tag("step-by-step.png") %>
				</div>
				<p>Learn, through guided step-by-step training, how to create beautiful and persuasive web apps in ruby on rails, even if you're not a designer or developer.</p>
			</div>
		</div>
	</div>
</div>


<div class="gray-strip">
	<div class="small-spacer">
		<div class="row">
			<div class="small-6 small-centered columns">
				<%= link_to "Sign up, for free!", "#", class: "button expand button-pink" %>
			</div>
		</div>
	</div>
</div>

<div class="footer">
	<footer>
		<div class="row text-center">
			<div class="small-6 small-centered columns">
				<p>Made with ♥ in Tucson, AZ</p>
			</div>
		</div>
	</footer>
</div>
	