<div class="row">
	<h1>Welcome#index</h1>
	<p>Find me in <span data-tooltip class="has-tip" title="Tooltips are awesome, you should totally use them!">app/views/welcome/index.html.erb</span></p>


</div>
	