<div id="home-page">
	<p>
		Hi, I am Lauralee. I’m a web designer, ruby on rails developer, and usability expert. <%= link_to "Learn a little more about me", about_path, class: "clean-link" %>. Or <%= link_to "see what I have to say", posts_path, class: "clean-link" %>.
	</p>
</div>
