<div class="off-white">
	<div class="big-spacer">
		<div class="row text-center">
			<h1>Why Sign Up</h1>
			<div class="small-spacer">
				<div class="small-12 columns">
					<p>The internet is one of the most valuable resources.  You can connect with <em><strong>billions</strong></em> of people. Billions.</p>
					<p>But, let's talk about you.  You have a great idea. Do you know how to <strong>create that idea</strong> online? If not, I'll teach you how.</p>
					<p>Either way, once you've learned to program <em><strong>you realize instantly how important the interface is</strong></em>. How to make an interface that the user loves.  One that is beautiful, minimal, easy to use, and speaks to the user.</p>
					<p>That's why you should sign up. <em><strong>Because making an impact online is so much more than creating a website.</strong></em> I will teach you the technology and the psychology behind making amazing websites.</p>
					<div class="small-spacer row">
						<div class="small-6 small-centered columns">
							<%= link_to "Sign Up For Free", new_user_registration_path, class: "button expand button-pink" %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="big-spacer">
	<div class="row text-center">
		<h1>What You Get By Signing Up</h1>
		<div class="small-spacer">
			<div class="small-12 medium-6 columns">
				<div class="what-you-get">
					<%= image_tag("free-resources.png") %>
				</div>
				<p>Every web project will need access to certain resources, such as high-quality images, usability test templates, excellent designs, and so on.</p>
			</div>
			<div class="small-12 medium-6 offset-1 columns">
				<div class="what-you-get">
					<%= image_tag("step-by-step.png") %>
				</div>
				<p>Learn, through guided step-by-step training, how to create beautiful and persuasive web apps in ruby on rails, even if you're not a designer or developer.</p>
			</div>
		</div>
	</div>
</div>


<div class="gray-strip">
	<div class="small-spacer">
		<div class="row">
			<div class="small-6 small-centered columns">
				<%= link_to "Sign up, for free!", new_user_registration_path, class: "button expand button-pink" %>
			</div>
		</div>
	</div>
</div>

<div class="footer">
	<footer>
		<div class="row text-center">
			<div class="small-6 small-centered columns">
				<p>Made with ♥ in Tucson, AZ</p>
			</div>
		</div>
	</footer>
</div>
	