<div class="big-spacer">
	<div class="row text-center">
		<h1>What You Get By Signing Up</h1>
		<div class="small-spacer">
			<div class="small-12 medium-5 columns">
				<div class="what-you-get">
					<%= image_tag("free-resources.png") %>
				</div>
				<p>Every web project will need access to certain resources, such as high-quality images, usability test templates, excellent designs, and so on.  Your free resources will all be saved in your account so you can access them any time.</p>
			</div>
			<div class="small-12 medium-5 offset-1 columns">
				<div class="what-you-get">
					<%= image_tag("step-by-step.png") %>
				</div>
				<p>Receive guided, step-by-step training that even someone just starting out can successfully follow along.  Learn how to create web apps in ruby on rails, how to design beautiful websites even if you’re not a designer, how to measure and improve your web usability, and how to increase the persuasiveness of your offers.</p>
			</div>
		</div>
	</div>
</div>

<div class="small-spacer">
	<div class="gray-strip">
		<div class="small-spacer">
			<div class="row">
				<div class="small-5 small-centered columns">
					<%= link_to "Sign up, for free!", "#", class: "button expand button-pink" %>
				</div>
			</div>
		</div>
	</div>
</div>
	