<div class="big-spacer-top">
	<div class="grid">
		<div class="browser">
			<span class="circle"></span>
			<span class="circle"></span>
			<span class="circle"></span>
		</div>

		<header class="logo">
			<div class="logo">
			</div>
		</header>

		<header class="nav">
			<div class="links">
			</div>
			<div class="account">
			</div>
		</header>

		<aside class="left-nav">
			<ul>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</aside>

		<div class="body">
			<article class="card 1">
				<div class="text full">
				</div>
				<div class="text half">
				</div>
			</article>
			<article class="card 2">
				<div class="text full">
				</div>
				<div class="text half">
				</div>
			</article>
			<article class="card 3">
				<div class="text full">
				</div>
				<div class="text half">
				</div>
			</article>
			<article class="card 4">
				<div class="text full">
				</div>
				<div class="text half">
				</div>
			</article>
			<article class="card 5">
				<div class="text full">
				</div>
				<div class="text half">
				</div>
			</article>
			<article class="card 6">
				<div class="text full">
				</div>
				<div class="text half">
				</div>
			</article>
		</div>
	</div>
</div>
