<div class="row">
	<div class="small-12 columns">
		<div class="medium-spacer" id="white-space">
			<div class="small-spacer">
				<img src="http://lauraleeflores.d.pr/13rVx+" alt="">
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet lectus pretium, finibus purus at, lacinia nibh. Duis vehicula sed libero sed sollicitudin. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tristique fermentum ante, eget auctor erat vestibulum et. Morbi quis interdum orci.</p>

			<p>Sed imperdiet fermentum massa, vel gravida elit vulputate vitae. Suspendisse consectetur placerat aliquam. Nunc ante urna, vehicula ut odio a, laoreet tincidunt ligula. Aliquam vel tincidunt dolor.</p>

			<p>A maximus purus. Etiam erat sem, vehicula quis luctus nec, commodo ut massa. Praesent suscipit augue eget felis imperdiet condimentum. Curabitur at fringilla est, eu tempus magna. Nulla elit enim, viverra et commodo id, porttitor in quam.</p>

			<p>Sed vel nisi in massa condimentum rhoncus non sit amet justo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed auctor laoreet dolor.</p>
		</div>
	</div>
</div>