<div class="blue-background">
	<div class="row text-center big-spacer-top">
		<h1>Discovery</h1>
		<p class="no-tagline">Rails Engine. Personality Test.</p>
	</div>
</div>

<div class="row big-spacer-top">
	<div class="small-12 columns">
		<p>I built this engine with the intention of plugging it into <%= link_to "major finder", "http://majorfinder.com/", class: "pink-link-center" %>.  Many people who sign up don't have any idea what they would like to do for a major or career.  This personality test would be a way for them to find some ideas based on their personality.</p>
		<p>There are 50 questions but I wanted people to see some results before completing all the questions.  However, the more questions answered the more accurate the results.</p>
	</div>
</div>

<div class="row big-spacer-bottom">
	<div class="small-12 medium-6 medium-centered columns" id="built-using">
		<ul>
			<li>Built Using</li>
			<li>Ruby & Ruby on Rails</li>
			<li>HTML</li>
			<li>Heroku</li>
			<li>Postgresql</li>
			<li>Minimal Design [IN PROCESS]</li>
			<li>CSS / SASS / Javascript / Angular JS [IN PROCESS]</li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="small-12 medium-6 medium-centered columns big-spacer-bottom">
		<%= link_to "Visit Discovery on Github", "https://github.com/flores8/discovery", class: "button expand", id: "ghost-button" %>
	</div>
</div>