<div class="row text-center medium-spacer-top">
	<h1>Major Finder</h1>
</div>

<div class="background-gray">
	<div class="row">
		<div class="span-12 columns big-spacer">
			<%= image_tag 'work/majorfinder-major.png' %>
		</div>
	</div>
</div>