<div class="blue-background">
	<div class="row text-center big-spacer-top">
		<h1 class="animated fadeInDown">WikiLand</h1>
		<p class="tagline animated fadeIn">Create plublic and private markdown-based wikis.</p>
		<div class="small-12 columns centered">
			<%= link_to image_tag('work/wiki.png'), "http://wikiland.herokuapp.com/" %>
		</div>
	</div>
</div>

<div class="row big-spacer-top">
	<div class="small-12 medium-6 medium-centered columns" id="built-using">
		<ul>
			<li>Built Using</li>
			<li>Ruby & Ruby on Rails</li>
			<li>HTML / CSS / Javascript</li>
			<li>SASS</li>
			<li>Heroku</li>
			<li>Postgresql</li>
			<li>Stripe Integration</li>
			<li>Friendly URL's</li>
		</ul>
	</div>
</div>

<div class="background-gray small-spacer-top">
	<div class="row">
		<div class="small-12 columns big-spacer">
			<%= image_tag 'work/wiki-creation.png' %>
		</div>
	</div>
</div>

<div class="row">
	<div class="small-12 medium-6 medium-centered columns big-spacer-bottom">
		<%= link_to "Visit WikiLand", "http://wikiland.herokuapp.com/", class: "button expand", id: "ghost-button" %>
	</div>
</div>