<% @tags.each do |t| %>
	<div class="row medium-spacer-top" id="tag-index">
		<div class="small-12 medium-10 medium-centered columns">

			<!-- Only show tag name if there are at leate one article -->
			<% if t.taggings_count > 0 %>

				<!-- Tag Name -->
				<h2><%= link_to t.name, tag_path(t.name) %> <small>(tagged in <%= t.taggings_count %> <%= t.taggings_count > 1 ? "posts" : "post" %>)</small></h2>

				<!-- Posts with This Tag -->
				<% Post.tagged_with(t).each do |p| %>
					<p class="centered"><%= link_to p.title, post_path(p) %></p>
				<% end %>
			<% end %>
		</div>
		
			

	</div>
<% end %>
