@import "globals/all";

/* Intro Image */
#blog-landing-header {
	background-image: image-url('blog-header.jpg');
	background-size: cover;
	background-position: top right;
	background-repeat: no-repeat;
	max-height: 50rem;
	height: 100%;
	@media only screen and (max-width : 2000px) {
		background-size: 100%;
		height: 50%;
	} 
	@media only screen and (max-width : 1175px) {
		height: 40%;
	}
	@media only screen and (max-width : 1000px) {
		height: 30%;
	}
	@media only screen and (max-width : 750px) {
		height: 25%;
	}
	@media only screen and (max-width : 550px) {
		height: 20%;
	}
}

/* List of blog posts */


#blog-post-listing {
	background-color: #ffffff;
	.post-listing {
		a.blog-link {
			color: $text;
			&:hover {
				color: $text;
				text-decoration: none;
			}
		}
		h3 {
			font-size: 2.5rem;
			margin-bottom: 0rem;
			a {
				color: $text;
				@include transition (.4s);
				&:hover {
					color: $pink;
				}
			}
		}
		p.small {
			margin-bottom: 1.5rem;
			font-size: 1rem;
			span {
				padding: 0 .75rem;
			}
		}

		hr {
			margin: 8rem 0;
			&:last-child {
				visibility: hidden;
			}
		}		
	}
}

/* Pagination from will_paginate */
.pagination-centered {
	margin-bottom: 4rem;
	font-size: 1.3rem;
	a {
		color: $pink;
		@include transition(.3s);
		&:hover {
			background-color: $pink;
			color: $white;
		}
	}
	em.current, a {
		padding: .25em .45em;
		margin: 0 .5rem;
	}
	em.current {
		color: $darkGray;
	}
}

/* Blog Post (Show Page) */
#blog-post {
	header {
		h2, h2 p {
			padding-bottom: .5rem;
		}
		h2 p {
			font-size: 2.5rem;
		}
		p.post-references {
			margin-bottom: .8em;
			color: lighten($text, 35%);
		}
		em.divider {
			padding: 0 .5em;
		}
		em.tags {
			a {
				color: $pink;
			}
			color: $text;
			font-style: normal;
		}
	}
	#blog-content {
		strong {
			color: $text;
			/*color: $white;
			background-color: $text;
			padding: 0 .5rem;*/
			/*border-bottom: 2px solid lighten($text, 15%);*/
		}
		a {
			color: $pink;
			@include transition(.4s);
			@include link-center-out($pink, $pink);
		}
		p {
			padding-bottom: 1rem;
		}
		ol {
			font-size: 1.5rem;
			padding-left: 2rem;
		}
		ul {
			font-size: 1.5rem;
			li {
				list-style-type: none;
				padding-left: 1.5rem;
				text-indent: -8px;
				padding-bottom: .5rem;
				&:before {
					content: '-';
					position: relative;
					left: -10px;
				}
			}
		}
		h3 {
			text-align: left;
			text-transform: uppercase;
			font-weight: 800;
			margin-bottom: 1rem;
			color: $blue;
		}
		pre {
			code {
				white-space: pre-wrap;
				word-wrap: break-word;
				display: block;
				padding: 1rem;
				background: $gray;
				color: $text;
				line-height: 2rem;
				font-size: 1.1rem;
				font-weight: normal;
			}
		}
		code {
			background-color: $gray;
			padding: .5rem .75rem;
			color: $text;
			font-family: 'Source Sans Pro', Courier, monospace, sans-serif;
			letter-spacing: 1px;
		}
	}
	footer {
		background-color: transparent;
		p {
			text-transform: none;
			color: $text;
		}
	}
}

/* Similiar Posts on the bottom of the Blog Show Page and similar tags on the tags show page */
#light-gray-background {
	margin-top: 5rem;
	background-color: $lightGray;
	h3.title {
		text-transform: uppercase;
		color: $blue;
	}
	article.similar-item {
		h4 a.item-title p {
			color: $text;
			text-align: center;
			margin-bottom: 0;
			font-size: 1.8rem;
			@include transition(.3s);
			&:hover {
				color: $pink;
			}
		}
		p a {
			color: $pink;
			@include transition(.4s);
			@include link-center-out($pink, $pink);
		}
	}
}

#tag-show {
	h3, h3 a p {
		margin-bottom: 0;
	}
	h3 a p {
		color: $text;
		font-size: 1.8rem;
		@include transition(.4s);
		&:hover {
			color: $pink;
		}
	}
	p.centered {
		padding-bottom: 0;
		margin-bottom: .5rem;
	}
	p {
		a {
			color: $pink;
			@include transition(.4s);
			@include link-center-out($pink, $pink);
		}
		em.tags {
			font-size: 1.3rem;
		}
	}
}

#tag-index {
	a.centered p {
		color: $text;
		@include transition(.3s);
		&:hover {
			color: $pink;
		}
	}
}