@import "globals/all";

/* Intro Image */
#blog-landing-header {
	background-image: image-url('blog-header.jpg');
	background-size: cover;
	background-position: top right;
	background-repeat: no-repeat;
	max-height: 50rem;
	height: 100%;
	@media only screen and (max-width : 2000px) {
		background-size: 100%;
		height: 50%;
	} 
	@media only screen and (max-width : 1175px) {
		height: 40%;
	}
	@media only screen and (max-width : 1000px) {
		height: 30%;
	}
	@media only screen and (max-width : 750px) {
		height: 25%;
	}
	@media only screen and (max-width : 550px) {
		height: 20%;
	}
}

/* List of blog posts */
.blog-landing-list {
	padding-top: 2em;
	h2.centered {
		padding-bottom: .2rem;
	}
	a.post-title, a.post-title p {
		color: $text;
		line-height: 2.8rem;
		font-size: 2.5rem;
		margin: .5em 0;
	}
}

/* Pagination from will_paginate */
.pagination-centered {
	margin-bottom: 4rem;
	font-size: 1.3rem;
	a {
		color: $pink;
		@include transition(.3s);
		&:hover {
			background-color: $pink;
			color: $white;
		}
	}
	em.current, a {
		padding: .25em .45em;
		margin: 0 .5rem;
	}
	em.current {
		color: $darkGray;
	}
}

/* Blog Post (Show Page) */
#blog-post {
	header {
		h2, h2 p {
			padding-bottom: .5rem;
		}
		h2 p {
			font-size: 2.5rem;
		}
		p.post-references {
			margin-bottom: .8em;
			color: lighten($text, 35%);
		}
		em.divider {
			padding: 0 .5em;
		}
		em.tags {
			color: $pink;
			font-style: normal;
		}
	}
	#blog-content {
		strong {
			color: $text;
			border-bottom: 2px solid lighten($text, 15%);
		}
		a {
			color: $pink;
			@include transition(.4s);
			@include link-center-out($pink, $pink);
		}
		p {
			padding-bottom: 1rem;
		}
	}
	footer {
		background-color: transparent;
		p {
			text-transform: none;
			color: $text;
		}
	}
}