@import "globals/all";

#comingsoon-intro {
	padding: 12em 0;
	background-image: image-url('thank-you.jpg');
	background-size: cover;
	background-position: center;
	font-family: 'Vollkorn', "Times New Roman", Times, serif;
	h1.upper {
		font-family: 'Vollkorn', "Times New Roman", Times, serif;
		text-transform: uppercase;
		font-size: 3.3em;
		font-weight: 600;
	}
	h1 {
		font-family: 'Vollkorn', "Times New Roman", Times, serif;
	}
}