@import "globals/all";

#thoughtful-feedback {
	padding: 7em 0 9em;
	background-image: image-url('thoughtful.jpg');
	background-size: cover;
	background-position: center top;
}

/* Feedback Link Styling */

a.white {
	color: $text;
	padding: 2em .5em;
	@include transition(.4s);
	&:hover {
		color: $white;
	}
}

a.pink-link-center {
	color: $pink;
	@include transition(.4s);
	@include link-center-out($pink);
}

a.pink-link-left {
	color: $pink;
	@include transition(.4s);
	@include link-left-right($pink);
}

a.space-right {
	margin-right: .75em;
}

a.space-left {
	margin-left: .75em;
}

/* Feedback fonts */
.panel p {
	color: #585457;
}

p.created-by {
	font-size: 1em;
	font-style: italic;
	color: $darkGray;
}