@import "globals/all";

#thoughtful-feedback {
	padding: 7em 0 9em;
	background-image: image-url('thoughtful.jpg');
	background-size: cover;
	background-position: center top;
}

a.white {
	color: $text;
	padding: 2em .5em;
	@include transition(.4s);
	&:hover {
		color: $white;
	}
}

p.created-by {
	font-size: 1em;
	font-style: italic;
	color: $darkGray;
}

a.pink-link-center {
	color: $pink;
	@include transition(.4s);
	@include link-center-out($pink);
}

a.pink-link-left {
	color: $pink;
	@include transition(.4s);
	@include link-left-right($pink);
}