@import "globals/all";

footer {
	background-color: #fff;
	padding: 1.5rem 0;
	p {
		color: $darkGray;
		font-weight: 200;
		margin-bottom: 0px;
		font-size: 1.1em;
		letter-spacing: 1px;
		span {
			color: $pink;
			font-size: 2rem;
			position: relative;
			top: 4px;
			transition: .4s;
		}
		&:hover {
			span {
				font-size: 3rem;
				position: relative;
				top: 9px;
			}
		}
	}
}

div#white-space {
	img {
		margin-bottom: 1rem;
	}
	p {
		/*line-height: 1.4rem;*/
	}

}
