@import "globals/all";

#header {
	/* Background Image */
	background-image: image-url("learn-to-create-websites.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 30em;
	/* Who this site is for and why they should care */
	.header-call {
		h1 {
			font-size: 3em;
			color: $text;
			font-weight: 400;
			padding: 1em 0 .5em;
			line-height: 1.5em;
			margin: 2em 0;
		}
	}
}