@import "globals/all";

#header {
	/* Background Image */
	background-image: image-url("learn-to-create-websites.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 50em;
	padding-top: 2em;
	/* Lauralee Flores Link (logo) */
	.logo {
		color: white;
		text-transform: uppercase;
		font-size: 2.4em;
		font-weight: 300;
		@include transition(.4s);
		&:hover {
			color: $pink;
		}
	}
	/* Top Bar link button to sign in */
	a.ghost-button {
		@include ghost-button($pink, .5em 1.5em, 1.75em);
		font-weight: 400;
		position: relative;
		top: .5em;
	}
	/* Who this site is for and why they should care */
	.header-call {
		padding-top: 5em;
		h1 {
			font-size: 3em;
			color: $text;
			font-weight: 400;
			padding: 1em 0 1.5em;
		}
	}
}