@import "globals/all";

.off-white {
	background-color: $offWhite;
}
.gray {
	background-color: $gray;
}
.light-gray {
	background-color: $lightGray;
}
.what-you-get {
	background-color: #66a3c6;
	padding: 3em 2em;
	margin: 3em 0;
}

.gray-strip {
	background-color: $gray;
	padding: 3em 0 2em;
}

a.button-pink {
	background-color: $pink;
	font-size: 1.75em;
	font-weight: 200;
	padding-top: .8em;
	padding-bottom: .8em;
	&:hover {
		background-color: darken($pink, 8%);
	}
}

#home-work {
	.portfolio {
		/* Image */
		a.border img {
			border: 10px solid $white;
			@include transition(.5s);
		}
		/* Work Title */
		h3 {
			padding: .5em 0 0 0;
			a {
				color: $text;
				@include transition(.5s);
			}
		}
		&:hover {
			a.border img {
				border: 10px solid $pink;
			}
			h3 a {
				color: $pink;
			}
		}
	}
}