@import "globals/all";
.off-white {
	background-color: $offWhite;
}
.gray {
	background-color: $gray;
}
.light-gray {
	background-color: $lightGray;
}
.what-you-get {
	background-color: #66a3c6;
	padding: 3em 2em;
	margin: 3em 0;
}

.gray-strip {
	background-color: $gray;
	padding: 3em 0 2em;
}

a.button-pink {
	background-color: $pink;
	font-size: 1.75em;
	font-weight: 200;
	padding-top: .8em;
	padding-bottom: .8em;
	&:hover {
		background-color: darken($pink, 8%);
	}
}

footer {
	background-color: $darkGray;
	p {
		color: $white;
		font-weight: 200;
		line-height: 4em;
		margin-bottom: 0px;
		text-transform: uppercase;
		font-size: 1.2em;
	}
}