@import "globals/all";

.button {
	font-size: 1.5em;
	padding: 1em;
}

a.pink-link-center {
	color: $pink;
	@include transition(.4s);
	@include link-center-out($pink, $pink);
}

a.pink-link-left {
	color: $pink;
	@include transition(.4s);
	@include link-left-right($pink);
}

a.pink-link-right {
	color: $pink;
	@include transition(.4s);
	@include link-right-left($pink);
}

a.space-right {
	margin-right: .75em;
}

a.space-left {
	margin-left: .75em;
}