@import "globals/all";

/* Border along top */
.fixed {
	border-top: 5px solid $pink;
}

/* Padding the body to make room for the nav */
.nav-padding {
	margin-top: 80px;
}
/* Lauralee Flores styling */
ul.title-area li.name h1 {
	text-transform: uppercase;
	letter-spacing: 2px;
	a {
		@include transition(.4s);
		&:hover {
			color: $pink;
		}
	}
}

/* Right Nav */
nav.top-bar ul li {
	a {
		@include transition(.3s);
	}
}