@import "globals/all";

#resources-landing {
	background-color: $white;
	/* Header */
	section.intro {
		h1 {
			color: $pink;
			font-size: 3rem;
			font-family: 'Vollkorn', "Times New Roman", Times, serif;
		}
		h2 {
			color: $text;
			font-size: 1.5rem;
			line-height: 2.5rem;
		}
	}

	/* Offers - both free and paid */
	section.offers {
		padding: 0;
		padding-bottom: 5rem;
		.card {
			padding: 0;
			background-color: #ffffff;
			width: 49%;
			.image-container {
				background-color: $blue;
				padding: 2rem;
				img {
					display: block;
					margin-right: auto;
					margin-left: auto;
				}
			}
			.content-container {
				padding: 1.5rem 2.5rem;
				h4 {
					text-transform: uppercase;
					text-align: center;
					font-size: 2.75rem;
					color: $text;
					font-weight: 100;
				}
				p {
					margin-top: 1rem;
					line-height: 3rem;
					font-size: 1.35rem;
					a {
						font-size: 1.5rem;
						color: $text;
						background-color: $gray;
						@include transition(.5s);
						&:hover {
							background-color: $pink;
							color: $white;
						}
					}
				}
			}	

		}
	}
}

#comingsoon-intro {
	padding: 12em 0;
	background-image: image-url('thank-you.jpg');
	background-size: cover;
	background-position: center;
	font-family: 'Vollkorn', "Times New Roman", Times, serif;
	h1.upper {
		font-family: 'Vollkorn', "Times New Roman", Times, serif;
		text-transform: uppercase;
		font-size: 3.3em;
		font-weight: 600;
	}
	h1 {
		font-family: 'Vollkorn', "Times New Roman", Times, serif;
	}
}
h2 {
	text-align: center;
	color: $pink;
	font-size: 3em;
	padding-bottom: .5em;
}
h2 a {
	color: $pink;
	@include transition(.4s);
	&:hover {
		color: darken($pink, 8%);
	}
}
h3 {
	text-align: center;
	color: $text;
}

#freebie {
	img {
		display: block;
		margin: 0 auto;
		padding: 5em 0 6em;
	}
	p {
		@include font-smoothing(on);
		font-size: 1.8em;
		line-height: 1.8em;
		padding-bottom: 1.3em;
		color: #58595b;
	}
}

#user-input {
	background-color: $white;
	h2 {
		color: $blue;
	}
}

p {
	em {
		/*color: darken($text, 25%);*/
	}
	strong {
		color: darken($text, 25e%);
	}
}
