<div id="thoughtful-feedback">
	<div class="row">
		<div class="small-12 columns">
			<h2>I Would Love Your Feedback!</h2>
			<p>I'm working hard creating resources and training that <em>I think</em> you'll love. But, I'm honestly not sure if I'm focusing on what you <em>most want to learn</em>.</p>
			<p>If I were to create a course or a valuable resource <em>just for you</em>, what would it be? What do you want to learn from me?</p>
		</div>
	</div>
	

	<%= render 'form' %>

	<div class="row text-center">
		<p><%= link_to 'View Your Feedback', feedbacks_path, class: "white" %></p>
	</div>

	
</div>





