<div id="thoughtful-feedback">
	<div class="row">
		<h2>I Would Love Your Feedback!</h2>
		<p>I'm working hard creating resources and training that <em>I think</em> you'll love. But, I'm honestly not sure if I'm focusing on what you <em>most want to learn</em>.</p>
		<p>Let's say we were sitting together at the computer for the next 15 minutes.  And you could ask me anything about websites, what would you want to me to show you?  What is the first thing you would want to learn about?</p>
	</div>
	

	<%= render 'form' %>

	<div class="row text-center">
		<p><%= link_to 'View My Feedback', feedbacks_path, class: "white" %></p>
	</div>

	
</div>





