<p id="notice"><%= notice %></p>

<p>
  <strong>Most interested:</strong>
  <%= @feedback.most_interested %>
</p>

<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
