<div id="git-intro">

	<!-- Title -->
	<div class="row">
		<div class="medium-spacer-top">
			<h2>Girls In Tech Bootcamp</h2>
		</div>
	</div>

	<!-- what will take place during bootcamp -->
	<div class="row">
		<div class="mini-spacer-top">
			<h4>What will take place during the bootcamp:</h4>
			<p>This dynamic two-day Ruby on Rails bootcamp will empower participants (from little, to no experience in development) to create functional web apps and write impressive code. This bootcamp is intended to reach out to women who are interested in learning Ruby on Rails. Men are welcome to come, if accompanied by a woman who wants to learn Ruby on Rails as well.</p>
			<p>Participants will learn how to build a complete web application using Ruby on Rails. By the end of the two days, they will have an application that connects to a database and reads and writes information. How cool is that?! If your laptop is not set up for Ruby on Rails development we will walk you through setting it up and spend the rest of the time learning and writing code.</p>
		</div>
	</div>

	<!-- benefits to learning rails -->
	<div class="row">
		<div class="small-spacer-top">
			<h4>Benefits to Learning Rails</h4>
			<p>Ruby on Rails (often times just called "Rails") is one of the most popular web frameworks and if you come to this bootcamp you'll understand why.  Basically, Rails allows you to rapidly create a robust, modern web application.  Airbnb, Groupon, Twitter, Hulu, and many more of your favorite companies are built with Rails.  But, if you want to know the real reason Rails is so popular and why there's such a devoted community of developers you need look no further than Ruby itself. Rails is built using the Ruby programming language.</p>
		</div>
	</div>

	<!-- why developers love ruby -->
	<div class="row">
		<div class="small-spacer-top">
			<h4>Why Developers Love Ruby</h4>
			<p>Ruby was created 20 years ago by Yukihiro "Matz" Matsumoto. His major motivation when writing the language was to design a programming language that would make programmers happy.  And it does.  The language is easy and fun to read (and learn!).  The code flows almost like a conversation and when you're writing it you don't have to worry about all those extra keystrokes that you find in other languages like parentheses, curly braces, or semicolons.  It's extremely flexible and intuitive.  There are multiple ways to accomplish a problem and even if you're not sure how to do something the solution is usually the thing you're thinking because the language just makes sense.  At the end of the day you end up with clean and readable code that is fun to read and write.</p>
		</div>
	</div>

	<div class="row">
		<div class="small-spacer-top centered medium-spacer-bottom">
			<%= link_to "Begin Course", course_lessons_path, class: "button" %>
		</div>
	</div>
</div>

