#blog-post-listing.off-white
	- if controller_name == "tags"
		#tag-show.row
			.small-12.medium-10.medium-centered.columns
				h2 = params[:tag]
	.row
		- @posts.each do |p|
			- if current_user && current_user.role?(:admin)
				- unless p.published?
					.small-6.columns.post-listing.small-spacer-top.big-spacer-bottom
						.unpublished
							h3 = link_to p.title, p

							= link_to markdown(truncate(p.body, length: 230, omission: " ... ")), p, class: "blog-link"
	.blog-index-grid
		- @posts.each do |p|
			- if p.published?
				.post-listing
					- if p.image
						= link_to image_tag(p.image), p, class: "post-image"
					h3 = link_to truncate(p.title, length: 55, omission: " ... "), p
