<div class="footer">
  <footer>
    <div class="row text-center">
      <div class="small-6 small-centered columns">
        <p>Made with <span>♥</span> in Tucson, AZ</p>
      </div>
    </div>
  </footer>
</div>
