<%= link_to image_tag("nav-blue.png"), "#", class: "left-off-canvas-toggle", id: "top-nav" %>

<!-- Off Canvas Menu -->
<aside class="left-off-canvas-menu">
    <!-- Off Canvas Nav Elements -->
    <ul class="off-canvas-list">
    	<li><label>Test Label</label></li>
    	<li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Feedback", feedbacks_path %></li>
      <li><%= link_to "Edit My Account", edit_user_registration_path %></li>
    </ul>
</aside>